.outterContainner
{
   border :solid black 1px;
   height: 50%;
   background-color: white;
   size: auto;
  
   
   
}
.logoimg
{
   border: solid  green 1px;
   border-radius: 2px;
   height: 40px;
}
  
.logoText
{
   font-size: 45px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 200;

}
.logoText1
{
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 150;

}


.textContainer
{

   margin-top: 50px;
   text-align: center;
}
.body
{
   background-color: #FFFFFF;;
}
