* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  .wrapper {
    background-color: steelblue;
    border: 1px solid red;
    max-width: 20rem;
    height: 20rem;
    border-radius: 50%;
    position: relative;
    left: 80rem;
    top: 20rem;
  }
  
  .wrapper #container {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .wrapper #container .timer-data .timer-predefined-value,
  .wrapper #container #clock .minutes,
  .wrapper #container #clock .seconds {
    width: 5rem;
    border: none;
    outline: none;
  }
  
  .wrapper #container .timer-data {
    margin-bottom: rem;
  }
  
  .red-class {
    background-color: red;
  }
  
  .wrapper #container #clock .minutes,
  .wrapper #container #clock .seconds,
  .wrapper #container #clock .dots {
    font-size: 4rem;
  }
  